/* Cor de fundo e fonte */

body { 
     margin: 0;
     font-family: 'Gilroy', sans-serif;
     padding: 20px; 
     background: 
          linear-gradient(rgba(44, 62, 80, 0.7), rgba(50, 62, 102, 0.7)), 
          url('/img/fundo-manutencao.jpg') no-repeat center center fixed;
     background-blend-mode: overlay;
     color: rgb(0, 0, 0);
}

/* Tela de Login */

#login-screen {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px; 
    height: 500px;
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 10px; 
    background: transparent;
}

#login-screen #senha, #usuario, .login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    outline: none;
}

#login-screen .login-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}

/* Formulário de OS */

.os-form #titulo, #descricao, #inicio, #fim {
    display: flex;
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

#leitorQR {
    display: flex;
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

input, textarea, button { 
    background: #cbcccf;
    margin: 5px 0; 
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid rgb(255, 255, 255); 
}

button {
    background: #4F46E5;
    color: white; 
    cursor: pointer; 
    transition: background 1s;
}

button:hover, button:focus {
    background: #A78BFA; 
}

.os-form, .os-list, .grafico, .botoes {
    background: #ffffff; 
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 10px; 
}

.os-item {
    border-bottom: 1px solid #ddd; 
    padding: 10px 0; 
}

.completed {
    text-decoration: line-through; 
    color: green; 
}

canvas {
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
}